* text=auto eol=lf

*.cs text diff=csharp
*.csproj text
*.sln text eol=crlf
*.props text
*.targets text
*.json text
*.yml text
*.md text

*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.snk binary
*.nupkg binary
*.snupkg binary
