bin/
obj/
artifacts/
[Bb]uild/
*.user
*.suo
.vs/
.vscode/
.idea/
*.DotSettings.user

[Dd]ebug/
[Rr]elease/
[Dd]ebugPublic/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

project.lock.json
project.fragment.lock.json

*.nupkg
*.snupkg

.DS_Store
Thumbs.db

*.received.*
TestResults/
[Cc]overage/
coverage.*.json
*.trx
